<form class="friend-form">
  <h2 id="friend-input-h2">Friend input</h2>
  <mat-form-field class="field">
    <input
      matInput
      formControlName="name"
      type="text"
      id="name"
      placeholder="Name of friend"
      >
  </mat-form-field><br>
  <mat-form-field class="field">
    <input
      matInput
      formControlName="email"
      type="text"
      id="email"
      placeholder="E-mail"
      >
  </mat-form-field><br>
  <mat-form-field class="field">
    <input
      matInput
      formControlName="comment"
      type="text"
      id="comment"
      placeholder="Comment"
      >
  </mat-form-field><br>
  <mat-form-field class="select">
    <input
      matInput
      formControlName="favFood"
      type="text"
      id="favFood"
      placeholder="Favourite food"
      >
  </mat-form-field><br>
  <button class="friend-submit-button" mat-flat-button type="submit">Add</button>
</form>  